/* Color Variables */
:root {
  --primary-color: #3498db; /* Primary Blue */
  --secondary-color: #2e63cc; /* Secondary Green */
  --accent-color: #e74c3c; /* Accent Red */
  --background-color: #f0f0f0; /* Light Grey Background */
  --text-color: #333; /* Dark Text */
  --border-color: #000000; /* Light Grey Border */
  --pink: rgb(255, 91, 220);
}

/* Base styles */

:root {
  --header-font-size: 3rem; // Default size for small devices
  --subheader-font-size: 2rem;
  --body-font-size: 1rem;
  --small-font-size: 0.5rem;
}

@media (min-width: 768px) {
  :root {
    --header-font-size: 5rem;
    --subheader-font-size: 5rem;
    --body-font-size: 1.5rem;
    --small-font-size: 0.75rem;
  }
}

:root {
  --spacing-xlarge: 4em; /* Extra large spacing */
  --spacing-large: 2em; /* Large spacing */
  --spacing-medium: 1.5em; /* Medium spacing */
  --spacing-small: 1em; /* Small spacing */
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base font size for rem units */
}

body {
  font-family: Arial, sans-serif;
  // font-size: var(--body-font-size);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: var(--header-font-size);
}

h2 {
  font-size: var(--subheader-font-size);
}

p {
  font-size: var(--body-font-size);
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.small-text {
  font-size: var(--small-font-size);
}

/* Example Button Styles */
button {
  padding: var(--spacing-small) var(--spacing-xlarge); /* 8px 25.6px */
  font-size: 1.25rem; /* 20px */
  background-color: var(--pink);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
}

button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

button ul {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: var(--text-color);
}

footer,
header,
section {
  width: 100%;

  @media (min-width: 768px) {
    padding-bottom: var(--spacing-medium);
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  background-color: #f8f8f8;
  width: 100%;
  background-color: var(--background-color);
}

/* Basic Layout and Container Styles */
//specific classes
.container {
  padding: 0;
  @media (min-width: 768px) {
    padding: var(--spacing-large); /* 20px */
  }
  width: 100%;
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: var(--spacing-large); /* 20px */
}

.margin-block {
  margin-block: var(--spacing-large);
}

.space-between {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.right-container {
  display: flex;
  flex-direction: column;
}
.left-container {
  display: flex;
  flex-direction: column;
}

/* start of code --- nav */

header {
  .header__title {
    font-size: var(--header-font-size);

    border: 1px solid black;
  }

  .header__nav-links {
    padding-left: var(--spacing-large);
    padding-top: var(--spacing-large);
    a {
      font-size: var(--header-font-size);
    }
  }
}

.header__nav-links {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  height: 100%;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);

  li {
    color: var(--primary-color);
    padding-bottom: var(--spacing-xlarge);
  }
}

.header__menu-icon {
  z-index: 1000;
}

//footer

.footer__left-container {
  justify-content: center;
}

//ppolygoggins

.goggins-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: red($color: #000000);

  #gogginsVideo {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Maintain aspect ratio */
    height: 100%;
  }
}

.goggins-click-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgb(0, 255, 42);
}

.goggins-click-wrap {
  display: flex;
  justify-content: center;
}

.empty-space {
  height: 10000px;
}

.big-arrow {
  font-size: 100px;
  animation: upDown 0.5s infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
}

//foocebook

:root {
  --facebook-blue: rgb(31, 113, 228);
  --facebook-red: rgb(228, 31, 31);
  --facebook-new: black;
}

.facebook {
  .header-container {
    margin-top: var(--spacing-large);
    h1 {
      color: var(--facebook-blue);
    }
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    margin-bottom: var(--spacing-large);
  }
  .no {
    flex-direction: row;
  }
}

.small-img {
  width: 5em;
  height: 5em;
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-3px) rotate(-4deg);
    transform: translateX(-3px) rotate(-4deg);
  }

  30% {
    -webkit-transform: translateX(calc(3px / 2)) rotate(4deg);
    transform: translateX(calc(3px / 2)) rotate(4deg);
  }

  45% {
    -webkit-transform: translateX(calc(-3px / 2)) rotate(calc(-4deg / 1.8));
    transform: translateX(calc(-3px / 2)) rotate(calc(-4deg / 1.8));
  }

  60% {
    -webkit-transform: translateX(calc(3px / 3.3)) rotate(calc(4deg / 3));
    transform: translateX(calc(3px / 3.3)) rotate(calc(4deg / 3));
  }

  75% {
    -webkit-transform: translateX(calc(-3px / 5.5)) rotate(calc(-4deg / 5));
    transform: translateX(calc(-3px / 5.5)) rotate(calc(-4deg / 5));
  }
}

.wobble {
  width: 100px;
  height: 100px;
  animation: wobble 1s infinite;
}

.box {
  animation: boogie-box 2s ease infinite;
}

@keyframes boogie-box {
  0% {
    background: var(--facebook-red);

    transform: translate(1rem, -1rem);
  }

  12.5% {
    transform: translate(-1rem, 1rem);
  }

  25% {
    transform: translate(1rem, -1rem);
  }

  37.5% {
    transform: translate(1rem, 1rem);
  }

  50% {
    background: var(--facebook-blue);

    transform: translate(-1rem, -1rem);
  }

  62.5% {
    transform: translate(1rem, 1rem);
  }

  75% {
    transform: translate(-1rem, -1rem);
  }

  87.5% {
    transform: translate(-1rem, 1rem);
  }

  100% {
    background: var(--facebook-red);

    transform: translate(1rem, -1rem);
  }
}

.invisible {
  display: none;
  justify-content: space-between;
}

//widener

.wide-putin-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .header-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-block: var(--spacing-small);

    h2 {
      width: 100%;
      border: 1px solid black;
      padding: var(--small-font-size);
      box-sizing: border-box;
      display: inline-block;

      span {
        box-sizing: border-box;
        display: inline-block; /* Required for transform to work properly on text */
        font-size: var(--body-font-size);
        transform: scaleX(4); /* Adjust the value as needed */
        margin-left: 6em;

        color: rgb(0, 0, 0);
        background-color: var(--pink);
      }
    }
  }
  .container {
    padding: 0;
    margin: 0;
    border: none;
  }
  .wide-container {
    width: fit-content;
    height: fit-content;
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // background-color: red;
  }
  .wide-img-container {
    // background-color: red;
    background-image: url(/imgs/wide.png);
    height: 100%;
    width: 60vh;
    background-size: 100% 100%;
    background-position: center;
  }
  p {
    margin-top: var(--spacing-small);
  }
  .buttons-container button {
    font-size: var(--body-font-size);
    @media (max-width: 768px) {
      font-size: var(--subheader-font-size);
    }
    margin-inline: var(--spacing-small);
    margin-bottom: var(--spacing-small);
    padding: 0;
    background-color: transparent;
  }
}
