:root {
  --spacing-small: 1em;
  --spacing-medium: 2em;
  --spacing-large: 3em;
}
:root {
  --font-size-small: 1rem;
  --font-size-medium: 2rem;
  --font-size-large: 3rem;
}

:root {
  --color-grey: #f0f0f0;
  --color-black: #000000;
  --color-white: #ffffff;
}

:root {
  --border-style: 1px solid var(--color-black);
}

body {
  font-family: Arial, sans-serif;
  /* height: 100vh; */
  margin: 0;
  background-color: var(--color-grey);
  font-size: 16px;
}
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

h1 {
  font-size: --font-size-large;
}

h2 {
  font-size: --font-size-medium;
}

p {
  font-size: --font-size-small;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.button {
  background-color: var(--color-grey);
  padding: var(--spacing-small);
  transition: 0.2s all ease;
  text-decoration: none;
  border: none;
}

.button:hover {
  opacity: 0.8;
}

.margin-small {
  margin: var(--spacing-small);
}

.margin-block-small {
  margin-block: var(--spacing-small);
}

.audio-section {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: var(--border-style);
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.toggle-audio-button {
  display: none;
}

.songs-container {
  display: flex;
  background-color: var(--color-black);
  align-items: center;
  justify-content: space-around;
}

.song-item:hover {
  background-color: #e0e0e0;
}
.audio-controls-container {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  border-bottom: var(--border-style);
  width: 100%;
  box-sizing: border-box;
}

.fx-container {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  justify-content: center;
  align-items: center;
}

.main-controls-container {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-medium);

  border: none;
}

.album-cover {
  font-size: 1rem;
  width: 30em;
  height: 30em;
  background-color: var(--color-white);
  /* background-image: url("/songs-for-website/covers/time-2.png"); */
  background-size: contain;
}

/* .main-controls {
  visibility: hidden;
} */

.skip-prev-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-small);
}

.skip-prev-buttons > * {
  width: var(--spacing-large);
  height: var(--spacing-medium);
  text-align: center;
  padding: 0;
}

.filter-container {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
  width: calc(100% - var(--spacing-medium));
  /* margin-inline: 10px; */
  height: 5em;
  border-inline: var(--border-style);
  box-sizing: content-box;
  padding-inline: var(--spacing-small);
  box-sizing: border-box;
}

#song-download {
  display: none;
}

#filter {
  writing-mode: bt-lr; /* IE */
  writing-mode: vertical-lr;
  direction: rtl;
  height: 30%; /* Full height of the container */
}

/* SLIDER */

.slider-section {
  background-color: var(--color-grey);
  margin-block: var(--spacing-small);
}

.slider {
  font-size: 9px;
  width: 60em;
  height: 20em;
  margin: 0 auto;
  position: relative;
  /* margin-top: var(--spacing-small); */

  overflow: hidden;
  border: var(--border-style);
  border: 1px solid black;
}

.slide {
  position: absolute;
  top: 0;
  /* width: 20em; */
  width: 20em;
  height: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; /* THIS creates the animation! */
  background-repeat: none;
  transition: transform 1s;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background-color: var(--color-black);
  opacity: 0.6;
  color: var(--color-white);
  font-family: inherit;
  height: 10rem;
  width: 5.5rem;
  font-size: var(--font-size-large);
  cursor: pointer;
  transition: all 0.2s ease;
  overflow: hidden;
}

.slider__btn:hover {
  background-color: var(--color-black);
  opacity: 0.5;
  color: var(--color-white);
}

.slider__btn--left {
  left: 0%;
  transform: translate(0, -50%);
}

.slider__btn--right {
  right: 0%;
  transform: translate(0, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* phone */

@media (max-width: 480px) {
  .audio-section {
    margin: 0;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
  }
  .toggle-audio-button {
    position: fixed;
    font-size: var(--font-size-large);
    text-align: center;
    line-height: 20px;
    padding: 0;
    height: var(--spacing-medium);
    aspect-ratio: 1/1;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .audio-section .audio-controls-container {
    flex-direction: column; /* This arranges items in a column */
    /* border: none; */
    height: 200%;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
  }
  .control-item:nth-child(1) {
    order: 2;
  }
  .control-item:nth-child(2) {
    order: 1;
    margin: 0;
  }

  .main-controls-container {
    height: 82vh;
    padding: 0;
    width: 100%;
  }

  .fx-container {
    padding-block: var(--spacing-small);
  }

  .control-item:nth-child(3) {
    order: 3;
  }

  .song-info-container {
    flex-direction: column;
    display: block;
    margin: auto;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: var(--color-white);
    margin: 0;
    border: none;
    box-sizing: border-box;
  }
  .song-info-container p {
    display: none;
  }

  .slider-section {
    margin: 0;
  }
  .slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    width: 100%; /* Full width on mobile */
    height: auto; /* Adjust height */
    position: relative;
    overflow: hidden;
    border: none;
    margin: 0;
    /* background-color: red; */
  }

  .slide {
    position: relative;
    width: 100%; /* Each grid item takes full width of its column */
    aspect-ratio: 1/1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .placeholder-song {
    background-color: rgb(255, 255, 255);
    border: var(--border-style);
    box-sizing: border-box;
  }

  .slider__btn {
    display: none; /* Hide navigation buttons on mobile */
  }

  .dots {
    display: none; /* Hide dots on mobile */
  }

  .empty-space {
    display: flex;
    background-color: black;
    padding-top: 20rem;

    height: 100vh;
  }

  .eyes {
    border: 1px solid white;
    width: 50%;
    background-image: url("../imgs/eye.svg");
    background-repeat: no-repeat;
    background-position: 40% 80%;
    height: 100vw;
    background-size: 200%;
  }

  .right-eye {
    transform: translateZ(180deg);
    transform: scaleX(-1);
  }
}
